@font-face {
    font-family: 'Karla';
    src: local('Karla'), local('Karla-Regular'), url('../../fonts/karla.woff2') format('woff2'), url('../../fonts/karla.woff') format('woff'), url('../../fonts/karla.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Karla';
    src: local('Karla Italic'), local('Karla-Italic'), url('../../fonts/karlaitalic.woff2') format('woff2'), url('../../fonts/karlaitalic.woff') format('woff'), url('../../fonts/karlaitalic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: 'Karla';
    src: local('Karla Bold'), local('Karla-Bold'), url('../../fonts/karlabold.woff2') format('woff2'), url('../../fonts/karlabold.woff') format('woff'), url('../../fonts/karlabold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Karla';
    src: local('Karla Bold Italic'), local('Karla-BoldItalic'), url('../../fonts/karlabolditalic.woff2') format('woff2'), url('../../fonts/karlabolditalic.woff') format('woff'), url('../../fonts/karlabolditalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}
