.banner__header {
    background: url("../../images/banner.jpg") no-repeat center;
    background-size: cover;
    width: 100%;
    max-width: 1380px;
    height: 530px;
    margin: 100px auto 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner__header__p {
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: var(--white);
    margin-bottom: 10px;
}

h1 {
    font-size: 47px;
    line-height: 60px;
    color: var(--white);
    margin-bottom: 10px;
}

.banner__header__desc {
    font-size: 17px;
    line-height: 30px;
    color: var(--white);
    margin-bottom: 48px;
}

.banner__header__btn {
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: var(--black);
    padding: 0 24px;
    background-color: var(--white);
    transition: 0.5s;
}

.banner__header__btn:hover {
    color: var(--brown);
}

@media(max-width: 950px) {

    .banner__header__desc {
        max-width: 400px;
    }
}

@media(max-width: 500px) {
    .banner__header__p {
        font-size: 10px;
        line-height: 16px;
        margin-bottom: 8px;
    }

    h1 {
        font-size: 38px;
        line-height: 52px;
        margin-bottom: 8px;
    }

    .banner__header__desc {
        font-size: 14px;
        line-height: 26px;
        text-align: center;
        margin-bottom: 48px;
        max-width: 320px;
    }


}