
.blog {
    padding: 50px 0 200px;
}

.blog__blocks {
    display: flex;  
    justify-content: space-between;      
}

.blog__block {
    max-width: 300px;    
}

.block__img {
    max-width: 300px;
    max-height: 300px;
    width: 100%;
    margin-bottom: 30px;
}

.blog__title {
    font-size: 20px;
    line-height: 32px;
    color: var(--black);
    margin-bottom: 10px;
    border-bottom: solid 1px transparent;
    transition: 0.5s;
}

.blog__title:hover {
    border-color: var(--black);
}

.blog__desc {
    font-size: 16px;
    line-height: 28px;
    color: rgba(29, 31, 46, 0.7);
    margin-bottom: 16px;
}

time {
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: var(--black);
}

@media(max-width: 950px) {
    .blog__blocks {
        display: flex;  
        flex-wrap: wrap; 
        justify-content: center;
        gap: 30px;    
    }

    .blog {
        padding: 50px 0 100px;
    }
}

@media(max-width: 500px) {
    .blog {
        padding: 30px 0 50px;
    }

    .blog__title {
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 8px;
    }
    
    .blog__desc {
        font-size: 12px;
        line-height: 18px;
        margin-bottom: 14px;
    }

    .block__img {
        margin-bottom: 15px;
    }

}