
.featured_mugs {
    padding: 50px 0 50px;
}

.featured_mugs__blocks {
    display: flex;
    justify-content: space-between;
}

.featured_mugs__block {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.featured_mugs__block img {
    max-width: 460px;
    max-height: 540px;
    width: 100%;
}

.coffee__price {
	display: flex;
    align-items: center;
    justify-content: center;
}

@media(max-width: 950px) {

    .featured_mugs__blocks {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 25px;
    }

    .featured_mugs__block img {
        margin-bottom: 15px;
    }
}

@media(max-width: 500px) {
    .featured_mugs {
        padding: 20px 0 20px;
    }

    .featured_mugs__blocks {
        gap: 10px;
    }

}
