
header {
    position: fixed;
    background: white;
    width: 100%;
    z-index: 100;
    transition: 0.5s;
    height: 100px;
    top: 0;
}

header.active {
    box-shadow: 0 4px 20px rgba(0,0,0,.1);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 28px 0;
}

.img__logo {
    max-width: 112px;
    max-height: 24px;
    width: 100%;
    cursor: pointer;
}

nav {
    width: 549px;
    display: flex;
    justify-content: space-between;
}

nav a {
    color: var(--black);
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 2px;
    text-transform: uppercase;
    border-bottom: solid 1px transparent;
    transition: 0.5s;
}

nav a:hover {
    border-color: var(--black);
}

.img__cart {
    display: inline-block;
    max-width: 16px;
    max-height: 20px;
    width: 100%;
}
.cart {
    width: 92px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.cart span {
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: var(--black);
}

.cart__number {
    font-size: 10px;
    line-height: 18px;
    min-height: 20px;
    min-width: 20px;
    color: white;
    background-color: black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart:before {
    content: '';
    position: absolute;
    width: 92px;
    top: 24px;
    border-bottom: 2px solid rgba(162, 95, 75, 0.3);
    transition: 0.5s;
}

.cart:hover:before {
    border-bottom-color: var(--brown); 
}

.burger__button {
    width: 20px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    display: none;
}

.burger__button svg { 
    width: 100%;
}

.menu__close {
    display: none;
}

@media(max-width: 950px)  {
    .burger__button {
        display: block;
    }

    nav {
        display: none;
        position: fixed;
        flex-direction: column;
        width: 100%;
        height: 100%;
        z-index: 10;
        background: white;
        top: 0;
        left: 0;
        justify-content: space-around;
        align-items: center;
    }

    nav a {
        color: var(--black);
        font-size: 24px;
        line-height: 26px;
        letter-spacing: 3px;
    }

    nav.active {
        display: flex;
    }

    .menu__close { 
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;
        cursor: pointer;
    }
}

@media(max-width: 500px)  {
    .cart span {
        display: none;
    }

    .cart:before {
        display: none;
    }

    .cart {
        width: auto;
        padding-right: 10px;
    }

    .cart__number {
        position: absolute;
        top: -12px;
        right: 0px;
    }

    .img__cart {
        width: 22px;
        height: 26px;
        max-width: 100%;
        max-height: 100%;
    }
}